.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
Flutter.podspec
Generated.xcconfig
flutter_export_environment.sh
